// {
//     "presets": ["es2015", "stage-0"],
//     "plugins": ["syntax-dynamic-import", "transform-regenerator"]
// }

{
    "presets": [
      [
        "@babel/preset-env",
        {
          // "useBuiltIns": "usage",
          // "corejs": "3", // 声明corejs版本
          // "modules": "auto",
          "targets": {
            // "browsers": "last 2 versions, not ie <= 9",
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import"
    ]
  }