.index {
    color: green;
}

.bg {
    background-image: url("../img/a.png");
    width: 300px;
    height: 150px;
}
.l-link{
    display: flex;
}
.c-link{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    // &_block {
    //     max-width: 150px;
    //     display: block;
    //     &_sm {
    //         max-width: 100px;
    //     }
    // }
    &--og{
        color: orange;
    }
}